*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

.welcome {
    font-size: 20px;
    font-weight: 600;
}

.welcome img {
    height: 30px;
    object-fit: cover;
    margin: 0 10px
}